<div class="container">
  <div id="success-message"></div>
    <div id="fail-message"></div>
  <h1>To Do <span>-></span></h1>
  <div class="tasks-container">
    <ul>
      <% @tasks.each do |task| %>
      <li>
        <%= check_box_tag 'status', task.id , task.status, :class => "checkbox" %>
        <p><%= task.to_do %></p>
        <div class="links">
          <%= link_to "X", task, method: :delete, class: "delete_link", remote: true %>
        </div>
      </li>
      <% end %>
    </ul>
    
    <%= render 'form' %>

  </div>
</div>